<h1><%= @task.title %></h1>
<h2>Description:</h2>
<p><%= @task.details %></p>
<h2>Completed?</h2>
<p><%= @task.completed %></p>
<%= link_to "Go back to the list", tasks_path %>
<%= link_to "Edit task", task_path %>
<%= link_to "Delete task", task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
